$header-circle-color: #e5f6fe;
$header-background-color: #f1faff;
$header-nav-color: #eef9ff;
$logo-color: #2c617c;
$nav-list-hover-color: #5ccaff;
$header-btn-color-font: white;
$header-btn-color1: rgba(2,173,255,255);
$header-btn-color2: rgba(0,235,255,255);
$header-text-promo-btn-color1: #7acdf7;
$header-text-promo-btn-color2: #7bccf7;
$header-text-content-color: #9fa0a1;
$hedaer-text-inputlocation-color: #a0a0a0;
$hedaer-text-inputlocation-backcolor: rgba(255,255,255,0.80);
